.Content {
    margin-top: 0px;
    .Title {
        color: $color-black1;
        background: $color-white1;
        border-radius: 0px;
    }
}
.Info {
    background-color: $color-red1;
    padding-left: 10px;
    margin-left: -10px;
    border: 10px solid $color-red1;
    color: $color-white1;
    font-size: 21px;
    border-left: 20px solid;
    border-image: linear-gradient(to bottom right, $color-red1, $color-secondary) 1 100%;
}
.InfoM {
    background-color: $color-red1;
    padding: 10px;
    margin-left: -20px;
    color: $color-white1;
    font-size: 21px;
    
}

.whisper {
    color: color-black1;
    font-size: 10px;
    margin: 0px;
}

.highlight {
    font-size: 24px;
    background-color: $color-black1;
    border-left: 21px solid;
    border-color: $color-white1;
    padding: 5px;
    color: $color-white1;
    width: fit-content;
}