.ALL {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3iT1CzZmKLCpDGM7y_zFUlQ21x_UDvnfUgIZRtfTogeixKz4dnA')}


.ALL {
    padding: 100px;
    width: 100%;
    height: auto;
}

.FavTitle {
    text-align: center;
    margin-top: 20px;
}