.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  top: 0;
  height: 42px;
  background: linear-gradient(to bottom right, $color-black1, $color-black2);
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}
.header__nav {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // align-items: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
}
.header__nav h1 {
  font-size: 21px;
  color: white;
  width: auto;
  margin: 10px;
  flex: 1;
  margin-left: 42px;
}
.drops {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(3, auto)
}

.drop1 {
    position: relative;
  width: 200px;

}
.drop2 {
  position: relative;
  width: 200px;
 
}
.drop3 {
  position: relative;
  width: 200px;
 
}

.header__home {
  display: flex;
  width: 42px;
}

.header__home i {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  align-self: flex-start;
  font-size: 42px;
  color: white;
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 42px;
  color: white;
}

.header__contact h1 {
  font-size: 14px;
}
