.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  top: 42px;
  height: 80px;
  background: linear-gradient(to bottom right, $color-black1, $color-black2);
  position: fixed;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  width: 100vw;
  left: 0;
  align-content: center;
  justify-content: center;
}
.header__nav {
  align-content: end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  padding-top: 20px;

}
.header__nav a {
  font-size: 24px;
  color: white;
  width: auto;
  margin: 10px;
  flex: 1;
  align-self: end;
  justify-self: center;
  margin-bottom: 0px;
  margin-top: 0px;
  
}

.header__home {
  display: flex;
  width: 42px;
}

.header__home a i {
  border-radius: 50%;
  align-self: flex-start;
  font-size: 42px;
  color: $color-white1;
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 42px;
  color: $color-white1;
}

.header__contact a {
  font-size: 12px;
  color: $color-white1; 
}


