.title  {
    display: flex;
  position: fixed;
  color: $color-black1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
  top: 0px;
  background-color: rgba(196, 14, 14, 0.678);
  width: 100vw
}

.webname {
    flex: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px black;
    align-self: center;
}

.Description {
    flex: inherit;
    align-self: baseline;
    justify-self: right;
    margin-right: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    letter-spacing: 10px;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px black;
}
